*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 18px;
    font-family: "Calibri";
    color: #494949;
}
a{
    color: inherit;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead tr,
table tbody tr {
    text-align: left;
    border-bottom: 2px solid rgba(128, 128, 128, .5);
}
table tbody tr td,
table thead tr th{
    padding: 7px;
}
